{{ define "main" -}}
<ul>
    {{ range .Pages }}
    <li><a href="{{ .URL | relURL }}">{{ .Title }}</a>
    </li>
    {{ end }}
</ul>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BC43SFNGM8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BC43SFNGM8');
</script>
  <body>
    <div class="container">
      <div class="image">
        <img src="https://raw.githubusercontent.com/antoine-germain/antoine-germain.github.io/main/content/pic2024.webp">
      </div>
      <div class="text">
        <h1>
          {{ .Content }} 
          <div style="text-align: right;">
        <a href="https://antoine-germain.github.io" class="custom-button">ENG version</a> 
          </div>
        </h1>
      </div>
    </div>
</body>
{{- end }}
