<style>
  .container {
    display: flex;
    flex-direction: column; /* Stack items on small screens */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
  }
  img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
  }
  .image {
    flex-basis: 70%;
    order: 2;
    margin-top: 20px; /* Add some space between image and text */
  }
  .text {
    padding: 20px; /* Add padding to the text container */
  }
  /* Media query for screens smaller than 768px (adjust the value as needed) */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack items on small screens */
    }
    .image {
      flex-basis: 100%;
      order: 1;
    }
  }
</style>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T17ZSHHTDG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-T17ZSHHTDG');
</script>
  <body>
    <div class="container">
      <div class="image">
        <img src="https://raw.githubusercontent.com/antoine-germain/antoine-germain.github.io/main/content/pic2022.webp">
      </div>
      <div class="text">
        <h1> {{ .Content }} </h1>
      </div>
    </div>
  </body>
{{- end }}
