{{ define "main" -}}
<style>
  .container {
    display: flex;
    flex-direction: row; /* Display as two columns on larger screens */
    align-items: center; /* Center items vertically */
    text-align: left; /* Center text horizontally */
    justify-content: left; /* Center items horizontally */
  }

  img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
  }

  .image {
    flex-basis: 30%; /* Each column takes up 50% of the container on larger screens */
    order: 2; /* Revert to original order for larger screens */
    margin-right: 20px; /* Add some space between image and text */
  }

  .text {
    flex-basis: 70%; /* Each column takes up 50% of the container on larger screens */
    order: 1; /* Revert to original order for larger screens */
    padding: 20px; /* Add padding to the text container */
  }

  /* Media query for screens smaller than 768px (adjust the value as needed) */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack items on smaller screens */
    }

    .image,
    .text {
      flex-basis: 100%; /* Each column takes up 100% of the container on smaller screens */
      order: unset; /* Remove the order property to revert to default order */
      margin-right: 0; /* Remove margin on smaller screens */
    }
  }
</style>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T17ZSHHTDG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-T17ZSHHTDG');
</script>
  <body>
    <div class="container">
      <div class="image">
        <img src="https://raw.githubusercontent.com/antoine-germain/antoine-germain.github.io/main/content/pic2022.webp">
      </div>
      <div class="text">
        <h1> 
          <a href="https://antoine-germain.github.io/extras/" class="custom-button">FR version</a> 
          {{ .Content }} </h1>
      </div>
    </div>
</body>
{{- end }}
