<h1 class="sidebar"><a class="sidebar" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
<h1 style="font-size:16px; font-style:italic;">{{ .Site.Params.title }} <br/>
{{ .Site.Params.institution }}</h1>
<hr/>
{{ $.Scratch.Set "currentPageTitle" .Title }}

<p class="sidebar"><a class="sidebar" href="{{ "research" | relURL }}">Research</a></p>
{{ if and (eq "Research" ($.Scratch.Get "currentPageTitle")) (eq "Research" .Title) }}
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorksInProgress" | relURL }}">Works in Progress</a></p> 
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#Talks" | relURL }}">Talks</a></p>
	{{end}}

<p class="sidebar"><a class="sidebar" href="{{ "teaching" | relURL }}">Teaching</a></p>

<p class="sidebar"><a class="sidebar" href="{{ "writing" | relURL }}">Policy</a></p>

<p class="sidebar"><a class="sidebar" href="{{ "vitae" | relURL }}">Vitae</a></p>

<p class="sidebar">
<img src="{{ "/icons/email-white-small.png" | relURL }}" class="octicons">
<a class="sidebar" href="mailto:{{ .Site.Params.Email }}" target="_blank">
{{ .Site.Params.Email }}
</a></p>
<p class="sidebar">
	<img src="{{ "/icons/twitter-white.png" | relURL }}" class="octicons">
<a class="sidebar" href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank">
@{{ .Site.Params.Twitter }}
</a></p>
<p class="sidebar">
	<img src="{{ "/icons/linkedin.png" | relURL }}" class="octicons">
<a class="sidebar" href="https://www.linkedin.com/in/antoinegermain-be/" target="_blank">
./antoinegermain-be
</a></p>
<p class="sidebar">
	<img src="{{ "/icons/orcid.svg" | relURL }}" class="octicons">
<a class="sidebar" href="https://orcid.org/0000-0002-4701-9337/" target="_blank">
0000-0002-4701-9337
</a></p>

<p class="sidebar"><a class="sidebar" href="{{ "extras" | relURL }}">Some extras</a></p>

{{ with .Site.Params.logo }}
{{ if (eq "Homepage" ($.Scratch.Get "currentPageTitle")) }}
<img src="{{ . | relURL }}" alt="Logo" height="auto" style="padding-bottom: 3em;"/>
{{ else }}
<img class="nothomepage" src="{{ . | relURL }}" alt="Logo" height="auto" style="padding-bottom: 3em;"/>
{{ end }}
{{ end }}


